@page "/cliente"
@attribute [Authorize(Policy = "ClientePolicy")]
@inject ProductoService ProductoService
@inject NavigationManager NavigationManager
@inject IJSRuntime JsRuntime
@inject AuthenticationStateProvider AuthenticationStateProvider
@inject ProductoService ProductoService

<div class="header-container">
    <div class="spacer"></div>
    <div class="user-info">
        @if (!string.IsNullOrEmpty(clienteNombre))
        {
            <p>Hola, @clienteNombre</p>
        }
        else
        {
            <p>Hola Invitado</p>
        }
    </div>
    <div class="cart-icon">
        <i class="bi bi-cart2"></i>
        <span class="cart-count">2</span> 
    </div>
</div>

<p>Agrega a tu carrito los artículos que deseas comprar</p>

<div class="filter-buttons">
    <button @onclick="MostrarTodos">Todos</button>
    <button @onclick='() => FiltrarPorCategoria("Electronicos")'>Electrónicos</button>
    <button @onclick='() => FiltrarPorCategoria("Ropa")'>Ropa</button>
    <button @onclick='() => FiltrarPorCategoria("Calzado")'>Calzado</button>
    <button @onclick='() => FiltrarPorCategoria("Linea Blanca")'>Línea Blanca</button>
</div>

@if (productosFiltrados == null || !productosFiltrados.Any())
{
    <p>No hay productos disponibles.</p>
}
else
{
    <div class="productos-container">
        @foreach (var producto in productosFiltrados)
        {
            <div class="producto-card">
                <img src="@GetImageSource(producto.Imagen, producto.TipoImagen)" alt="@producto.Nombre" />
                <div class="info-style text-start">
                    <h4>@producto.Nombre</h4>
                    <p>$ @producto.Precio</p>
                </div>
                    <button @onclick="() => AgregarAlCarrito(producto)">Agregar</button>
            </div>
        }
    </div>
}



