@page "/admin-productos"
@using BlazorWeb.Models
@using BlazorWeb.Services
@attribute [Authorize(Roles = "Admin")]

@inject ProductoService ProductoService
@inject NavigationManager NavigationManager
@inject IJSRuntime JsRuntime


<div class="container text-center container-style mb-3">
    <h2>Productos</h2>
</div>

<div class="mb-3">
    <InputText class="form-control custom-input" id="search" @bind-Value="searchTerm" placeholder="Ingrese la categoría."
               @oninput="Buscar" />
</div>




@if (productosFiltrados == null)
{
    <p><em>Cargando productos...</em></p>
}
else if (!productosFiltrados.Any())
{
    <p>No se encontraron productos.</p>
}
else
{
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Imagen</th>
                <th>Nombre</th>
                <th>Categoria</th>
                <th>Precio</th>
                <th>Stock</th>
                <th class="actions-header">Acciones</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var producto in productosFiltrados)
            {
                <tr>
                    <td>
                        @if (producto.Imagen != null && producto.Imagen.Length > 0)
                        {
                            <img src="data:@producto.TipoImagen;base64,@Convert.ToBase64String(producto.Imagen)" alt="@producto.Nombre" width="100" />
                        }
                        else
                        {
                            <span>No disponible</span>
                        }
                    </td>
                    <td>@producto.Nombre</td>
                    <td>@producto.Categoria</td>
                    <td id="Precio-style">@producto.Precio.ToString("C", new System.Globalization.CultureInfo("en-US"))</td>
                    <td>@producto.Stock</td>
                    <td class="actions-cell">
                        <div class="action-buttons">
                            <button class="btn btn-primary btn-style" @onclick="() => EditarProducto(producto.Id)">
                                <i class="bi bi-pencil"></i> Editar
                            </button>
                            <button class="btn btn-danger btn-style" @onclick="() => EliminarProducto(producto.Id)">
                                <i class="bi bi-trash"></i> Eliminar
                            </button>

                        </div>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}

